<main class="ddl-recipe-finder">
    <h1 class="ddl-recipe-finder__title" id="content">Try our Recipe Finder
    </h1>
    <div class="ddl-recipe-finder__section ddl-recipe-finder__section_wide">
    <h2 class="ddl-recipe-finder__section-title ddl-recipe-finder__section-title_trolley">Tell us what ingredients you need to use up
    </h2>
    <p class="ddl-recipe-finder__section-copy">Type the first ingredient you want to use up in the search box and pick the best match from the drop down. We need a 
    <strong>minimum
    </strong> of 
    <strong>3 ingredients
    </strong> to find you some recipes.
    </p>
    <div class="ddl-ingredient-autocomplete">
    <form>
    <input placeholder="Enter ingredient" class="ddl-ingredient-autocomplete__input" type="text" autocomplete="off">
    <div class="ddl-ingredient-autocomplete__results ddl-ingredient-autocomplete__results_closed">
    <button class="ddl-ingredient-autocomplete__result ddl-ingredient-autocomplete__result_active" type="button" value="almond butter">
    <span>
    <strong>
    </strong>almond butter
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="almond milk">
    <span>
    <strong>
    </strong>almond milk
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="almonds">
    <span>
    <strong>
    </strong>almonds
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="anchovies">
    <span>
    <strong>
    </strong>anchovies
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="apple">
    <span>
    <strong>
    </strong>apple
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="apple cider vinegar">
    <span>
    <strong>
    </strong>apple cider vinegar
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="apricot">
    <span>
    <strong>
    </strong>apricot
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="artichoke">
    <span>
    <strong>
    </strong>artichoke
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="asparagus">
    <span>
    <strong>
    </strong>asparagus
    </span>
    </button>
    <button class="ddl-ingredient-autocomplete__result " type="button" value="aubergine">
    <span>
    <strong>
    </strong>aubergine
    </span>
    </button>
    </div>
    </form>
    