body {
     background-image: url('../images/bg-login.jpg');
     // background-image: url('paper.gif');
     background-size: cover;
     overflow: hidden !important;

     display: flex;

     justify-content: center;

     align-items: center;

     height: 100vh;

     flex-direction: column;
}

.form1 * {
     font-family: cursive;

     box-sizing: padding-box;
}

.form1 form {
     width: 30%;

     border: 3px solid rgb(177, 142, 142);

     padding: 20px;

     background: rgb(85, 54, 54);

     border-radius: 20px;
}

.form1 h2 {
     text-align: center;

     margin-bottom: 40px;
}

.form1 input {
     display: block;

     border: 2px solid #ccc;

     width: 95%;

     padding: 10px;

     margin: 10px auto;

     border-radius: 5px;
}

.form1 label {
     color: #888;

     font-size: 18px;

     padding: 10px;
}

.form1 button {
     float: right;

     background: rgb(35, 174, 202);

     padding: 10px 15px;

     color: #fff;

     border-radius: 5px;

     margin-right: 10px;

     border: none;
}

.form1 button:hover {
     opacity: 0.1;
}

.form1 .error {
     background: #f2dede;

     color: #0c0101;

     padding: 10px;

     width: 95%;

     border-radius: 5px;

     margin: 20px auto;
}

.form1 h1 {
     text-align: center;

     color: rgb(134, 3, 3);
}

.form1 a {
     float: right;

     background: rgb(183, 225, 233);

     padding: 10px 15px;

     color: #fff;

     border-radius: 10px;

     margin-right: 10px;

     border: none;

     text-decoration: none;
}

.form1 a:hover {
     opacity: 0.7;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.container {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}

.screen {
     background: linear-gradient(90deg, #f39c12, #f5b041);
     position: relative;
     height: 600px;
     width: 360px;
     box-shadow: 0px 0px 24px #5c5696;
}

.screen__content {
     z-index: 1;
     position: relative;
     height: 100%;
}

.screen__background {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 0;
     -webkit-clip-path: inset(0 0 0 0);
     clip-path: inset(0 0 0 0);
}

.screen__background__shape {
     transform: rotate(45deg);
     position: absolute;
}

.screen__background__shape1 {
     height: 520px;
     width: 520px;
     background: #fff;
     top: -50px;
     right: 120px;
     border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
     height: 220px;
     width: 220px;
     background: #e98221;
     top: -172px;
     right: 0;
     border-radius: 32px;
}

.screen__background__shape3 {
     height: 540px;
     width: 190px;
     background: linear-gradient(270deg, #fc6001, #f5b041);
     top: -24px;
     right: 0;
     border-radius: 32px;
}

.screen__background__shape4 {
     height: 400px;
     width: 200px;
     background: #fa5212; //buttom
     top: 420px;
     right: 50px;
     border-radius: 60px;
}

.login {
     width: 320px;
     padding: 30px;
     padding-top: 156px;
}

.login__field {
     padding: 20px 0px;
     position: relative;
}

.login__icon {
     position: absolute;
     top: 30px;
     color: #fa5212;
}

.login__input {
     border: none;
     border-bottom: 2px solid #fa5212;
     background: none;
     padding: 10px;
     padding-left: 24px;
     font-weight: 700;
     width: 75%;
     transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
     outline: none;
     border-bottom-color: #fa5212;
}

.login__submit {
     background: #fff;
     font-size: 14px;
     margin-top: 30px;
     padding: 16px 20px;
     border-radius: 26px;
     border: 1px solid #fa5212;
     text-transform: uppercase;
     font-weight: 700;
     display: flex;
     align-items: center;
     width: 100%;
     color: #fa5212;
     box-shadow: 0px 2px 2px #fa5212;
     cursor: pointer;
     transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
     border-color: #fa5212;
     outline: none;
}

.button__icon {
     font-size: 24px;
     margin-left: auto;
     color: #fa5212;
}

.social-login {
     position: absolute;
     height: 140px;
     width: 160px;
     text-align: center;
     bottom: 0px;
     right: 0px;
     color: #fff;
}

.social-icons {
     display: flex;
     align-items: center;
     justify-content: center;
}

.social-login__icon {
     padding: 20px 10px;
     color: #fff;
     text-decoration: none;
     text-shadow: 0px 0px 8px #f39c12;
}

.social-login__icon:hover {
     transform: scale(1.5);
}
