@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&family=Roboto:ital,wght@1,300;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/amagro');

* {
     margin: 0;
     padding: 0;
     font-family: 'Playfair Display', serif;
}
html {
     overflow-x: hidden;
}
header {
     height: 68px;
     width: 100vw;
     background-color: #f9f9f9;
     display: flex !important;
     justify-content: space-between;
     align-items: center;
     padding-right: 40px;
}

.logo {
     width: 110px;
     height: 68px;
     margin-left: 20px;
}
.Right-nav {
     display: flex;
     align-items: center;
     justify-content: center;
}

.Right-nav span {
     margin-right: 8px;
     padding-right: 6px;
     font-wight: 600px;
     font-family: 'Amagro', sans-serif !important;
}
.Right-nav a {
     color: black;
     text-decoration: none;
}
.Right-nav a:hover {
     color: black;
     text-decoration: none;
}
.icon {
     width: 24px;
     height: 24px;
     margin-bottom: 6px;
}
.icon:hover {
     cursor: pointer;
}

nav {
     z-index: 50;
}
.navbar {
     height: 50px;
     width: 100%;
     //  background-color: #4d4d4d;
     background-color: black;
     position: relative;
     z-index: 50;
}

.navbar > .navbar-header {
     display: inline;
}

.navbar > .navbar-header > .navbar-title {
     display: inline-block;
     font-size: 22px;
     color: #fff;
     padding: 10px 10px 10px 10px;
}

.navbar > .navbar-btn {
     display: none;
}

.navbar > .navbar-links {
     display: inline;
     float: right;
     font-size: 18px;
}

.navbar > .navbar-links > a {
     display: inline-block;
     padding: 13px 10px 13px 10px;
     text-decoration: none;
     color: #efefef;
}

.navbar > .navbar-links > a:hover {
     background-color: rgba(0, 0, 0, 0.3);
}

.navbar > #navbar-check {
     display: none;
}

@media (max-width: 750px) {
     .navbar > .navbar-btn {
          display: inline-block;
          position: absolute;
          right: 0px;
          top: 0px;
     }
     .navbar > .navbar-btn > label {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 13px;
     }
     .navbar > .navbar-btn > label:hover,
     .navbar #navbar-check:checked ~ .navbar-btn > label {
          background-color: rgba(0, 0, 0, 0.3);
     }
     .navbar > .navbar-btn > label > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
     }
     .navbar > .navbar-links {
          position: absolute;
          display: block;
          width: 100%;
          background-color: #333;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 50px;
          left: 0px;
     }
     .navbar > .navbar-links > a {
          display: block;
          width: 100%;
     }
     .navbar > #navbar-check:not(:checked) ~ .navbar-links {
          height: 0px;
     }
     .navbar > #navbar-check:checked ~ .navbar-links {
          height: calc(100vh - 50px);
          overflow-y: auto;
     }
}

.feedback-input {
     color: white;
     font-family: Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-size: 18px;
     border-radius: 5px;
     line-height: 22px;
     background-color: transparent;
     border: 2px solid #cc6666;
     transition: all 0.3s;
     padding: 13px;
     margin-bottom: 15px;
     width: 100%;
     box-sizing: border-box;
     outline: 0;
}

.feedback-input:focus {
     border: 2px solid #cc4949;
}

textarea {
     height: 150px;
     line-height: 150%;
     resize: vertical;
}

[type='submit'] {
     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
     width: 100%;
     background: #cc6666;
     border-radius: 5px;
     border: 0;
     cursor: pointer;
     color: white;
     font-size: 24px;
     padding-top: 10px;
     padding-bottom: 10px;
     transition: all 0.3s;
     margin-top: -4px;
     font-weight: 700;
}
[type='submit']:hover {
     background: #cc4949;
}

.diaporama {
     display: flex;

     position: relative;
     animation: anime 10s 0s infinite normal;
}

.diaporama img {
     width: 90%;
     margin: 0 5% 0 5%;
     height: 320px;
     flex-shrink: 0;
     padding: 1px;
     object-fit: cover;
}

.diaporama:hover {
     animation-play-state: paused;
}
.parent {
     background-color: black;
     margin: 2%;
}

@keyframes anime {
     0%,
     15%,
     100% {
          transform: translateX(-300%);
     }

     25%,
     40% {
          transform: translateX(-200%);
     }

     50%,
     65% {
          transform: translateX(-100%);
     }

     75%,
     90% {
          transform: translateX(0%);
     }
}

#recipesFormRoot * {
     margin-top: 16px;
}

.addform {
     width: 65%;
     margin: auto;
     background-color: #eee;
     border: 1px solid;
     display: felx;
     flex-direction: column;
     padding: 10px;
     //justify-content: center;
     // align-items: center;
     // background-color:green;
     // margin: 0 0.5em;
     box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
     border: none;
}

.addIngredient,
.addInfo {
     background: #f3783d !important;
     // width: 30%;
     margin: auto;
     font-wight: bold;
}
.submitFinale {
     background: #f3783d !important;
     font-wight: bold;
}
@media (max-width: 750px) {
     .addform {
          width: 95% !important;
     }
     .rowInput input {
          width: 70px;
          height: 35px;
     }
     .rowInput label {
          width: 120px;
     }
     .ingredient {
          flex-direction: column;
     }
}
.recipes-form__heading {
     margin: auto;
     width: 100%;
     align: center;
}

.recipes-form__section {
     display: flex;
     flex-direction: column;
     padding: 10px;
}

.rowInput {
     display: flex;
     justify-content: start;
     // background-color:red;
}
.rowInput input {
     width: 126px;
     height: 35px;
}

.rowInput label {
     width: 170px;
}

.ingredient {
     display: flex;
     align-items: center;
}
.ingredient * {
     margin-right: 6px;
}
.addIngredient {
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #999;
     border: none;
}

.sperator {
     width: 90%;
     margin: auto;
     height: 1.5px;
     background-color: #000;
}

.addInfo {
     margin: 20px;

     background: #eee;
}

.Ingredientform {
     display: flex;
     flex-direction: column;
}

.diapo .carousel-item img {
     height: 270px !important;
}
.carousel-itemCategorie img {
     height: 130px !important;
}
.carousel {
     position: relative;
     width: 100vw;
}
.carousel-item img {
     //   height: 270px !important;
     object-fit: cover;
}
.carousel-itemCategorie h5 {
     font-weight: bold;
}
.carousel-itemCategorie p {
     font-size: 14px;
}
.diapo .carousel-item h5 {
     font-wight: 1200;
     opacity: 1;
     color: white !important;
     font-size: 32px;
     color: black;
}
.diapo .carousel-caption {
     background: #222;
     opacity: 0.8;
     transform: rotate(35deg) translateX(-200px) translateY(80px);
     //   transform: translateY(-150px);;
     //   transform: translateY(-150px);;
     //   transform: translateY(-150px);;
}

@media (max-width: 767px) {
     .carousel-innerCategorie .carousel-itemCategorie > div {
          display: none;
     }
     .carousel-innerCategorie .carousel-itemCategorie > div:first-child {
          display: block;
     }
}

.carousel-innerCategorie .carousel-item.active,
.carousel-innerCategorie .carousel-item-next,
.carousel-innerCategorie .carousel-item-prev {
     display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
     .carousel-innerCategorie .carousel-item-end.active,
     .carousel-innerCategorie .carousel-item-next {
          transform: translateX(25%);
     }

     .carousel-innerCategorie .carousel-item-start.active,
     .carousel-innerCategorie .carousel-item-prev {
          transform: translateX(-25%);
     }
}

.carousel-innerCategorie .carousel-item-end,
.carousel-innerCategorie .carousel-item-start {
     transform: translateX(0);
}

.card {
     margin: 0 0.5em;
     box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
     border: none;
}

.cardCon {
     margin-top: 12px;
     padding: 0 !important;
     width: 260px !important;
}

.card img {
     height: 130px !important;
}
.card img {
     //   height: 270px !important;
     object-fit: cover;
}
.card h5 {
     font-weight: bold;
}
.card {
     font-size: 14px;
}

select::-ms-expand {
     display: none;
}

select {
     // A reset of styles, including removing the default dropdown arrow
     appearance: none;
     // Additional resets for further consistency
     background-color: transparent;
     border: none;
     padding: 0 1em 0 0;
     margin: 0;
     width: 100%;
     font-family: inherit;
     font-size: inherit;
     cursor: inherit;
     line-height: inherit;
     outline: none;
}

.select {
     width: 100%;
     min-width: 15ch;
     max-width: 30ch;
     border: 1px solid var(--select-border);
     border-radius: 0.25em;
     padding: 0.25em 0.5em;
     font-size: 1.25rem;
     cursor: pointer;
     line-height: 1.1;
     background-color: #fff;
     display: grid;
     grid-template-areas: 'select';
     align-items: center;
     background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
     content: '';
     width: 0.8em;
     height: 0.5em;
     background-color: var(--select-arrow);
     clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select,
.select:after {
     grid-area: select;

     justify-self: end;
}

.nine {
     text-align: center;
     font-size: 40px;
     text-transform: uppercase;
     color: #222;
     letter-spacing: 1px;
     font-family: 'Playfair Display', serif;
     font-weight: 400;
}
.nine h1 span {
     margin-top: 5px;
     font-size: 15px;
     color: #444;
     word-spacing: 1px;
     font-weight: normal;
     letter-spacing: 2px;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     font-weight: 500;

     display: grid;
     grid-template-columns: 1fr max-content 1fr;
     grid-template-rows: 27px 0;
     grid-gap: 20px;
     align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
     content: ' ';
     display: block;
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #ccc;
     height: 5px;
     background-color: #f8f8f8;
}

.NutrationCon {
     width: 70%;
     margin-top: 20px;
     margin: auto;
}

table {
     margin-top: 15px;
     margin: auto;
     background-color: #eee;
}
table th {
     margin-top: 15px;
     margin: auto;
     background-color: #f3783d;
}

.ingredientListCon {
     margin: 8px;
     font-size: 16px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row !important;
}

.vitamineList td {
     margin: 6px;
}

.pobularIngredient {
     background-color: #f3783d;
     padding: 6px;
     border-radius: 16px;
     font-size: 14px;

     margin: 3px;
}
.helthyIngredient {
     background-color: #62ff5a;
     padding: 6px;
     border-radius: 16px;
     font-size: 14px;
     margin: 3px;
}
.categorieHead {
     display: flex;
     justify-content: center;
     align-items: center;
}

.categorieHead a {
     margin: 15px;
     margin-right: 40px;
}

.categorieHead .categorieTitle {
     text-align: center;
     margin-left: 120px;
     font-size: 40px;
     text-transform: uppercase;
     color: #222;
     letter-spacing: 1px;
     font-family: 'Playfair Display', serif;
     font-weight: 400;
}

.profileCon {
     width: 75%;
     display: block;
     background-color: #eee;
     margin: auto;
     padding: 12px;
     box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.profileCon button {
     padding: 12px;
     margin: 16px;
     box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.navbar-links * {
     color: #f3783d !important;
}
.navbar-title span {
     color: #f3783d !important;
     // margin-left: 10px;
}
.navbar-header a:hover {
     text-decoration: none !important;
}
